<!-- Footer -->
<footer class="footer fixed-bottom bg-light">
    <div class="footer-copyright text-center py-3 ">© 2020 Copyright:
        <a href="#">BAC INFO 2</a>
    </div>
</footer>
</body>
<!-- Footer -->